@charset "UTF-8";

/*Estilo para telas*/ 

* {
    padding: 0px;
    margin: 0px;
}

html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: rgb(104, 104, 104);
}

header > h1 {
    text-align: center;
}

menu > ul {
    list-style-type: none;
    background-color: darkgray;
}

menu li {
    background-color: rgb(41, 41, 41);
    color: white;
    display: inline-block;
    padding: 10px;
}

article {
    width: 600px;
    margin: auto;
}
